:root{
  --color-principal: #111;
  --color-secundario: #222;
  --color-hover: #444;
  --color-principal-fuentes: #ddd;
  --color-principal-parrafos: #bbb;
}

[data-theme="light"]{
  --color-principal: #fff;
  --color-secundario: #f0f4f8;
  --color-hover: #444;
  --color-principal-fuentes: #000;
  --color-principal-parrafos: #000;

}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-principal);
  color: var(--color-principal-fuentes);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* MODO OSCURO Y CLARO */ 
#theme-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.theme-icon {
  width: 24px;
  height: 24px;
  display: none;
}

html[data-theme="dark"] .moon,
html[data-theme="light"] .sun {
  display: block;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #333;
  gap: 40px;
}

.hero-content {
  width: 100%;
}

.hero h1 {
  font-size: 2.5rem;
  color: var(--color-principal-fuentes);
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  color: var(--color-pricipal-parrafos);
  margin-bottom: 40px;
}

.hero .btn-container{
  display: flex;
  gap: 20px;
}

.hero .btn {
  padding: 10px 20px;
  color: var(--color-principal-fuentes);
  border-radius: 40px;
  border: 1px solid #444;
  transition: background-color 0.3s;
}

.hero .btn:hover {
  background-color: var(--color-hover);
  color: white;
}

.hero-image {
  max-width: 30%;
  border-radius: 50%;
  background-color: var(--color-secundario);
  border: 1px solid #222;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-image {
    max-width: 80%;
    margin-top: 20px;
  }
}

/* Groups Carousel */
.groups-carousel {
  padding: 20px 0 40px;
  background-color: var(--color-secundario);
  overflow: hidden;
  border-bottom: 1px solid #333;
}

.groups-carousel h2 {
  text-align: center;
  color: var(--color-pricipal-fuentes);
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  padding: 0 20px;
  gap: 20px;
}

.carousel-item {
  background-color: var(--color-principal);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  flex: 0 0 300px;
}

.group-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.group-header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.group-header h3 {
  font-size: 1.2rem;
  color: var(--color-principal-fuentes);
}

.carousel-item p {
  color: var(--color-principal-fuentes);
  font-size: 0.9rem;
  margin-bottom: 20px;
  max-width: 350px;
}

.carousel-item .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #ddd;
  border-radius: 5px;
  border: 1px solid #444;
  transition: background-color 0.3s;
}

.carousel-item .btn:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
    gap: 10px;
  }

  .carousel-item {
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 90%;
  }
}

/* Community Info */
.community-info {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  gap: 40px;
  border-bottom: 1px solid #333;

}

.stats {
  display: flex;
  gap: 40px;
}

.stat {
  text-align: center;
  flex: 1 1 30%;
}

.stat .count {
  font-size: 2rem;
  color: var(--color-pricipal-fuentes);
}

.stat p {
  font-size: 1rem;
  color: var(--color-pricipal-parrafos);
}

.stat.description {
  flex: 2 1 40%;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ddd;
}

@media (max-width: 768px) {
  .community-info {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .stat {
    margin-bottom: 15px;
  }
}

/* Testimonials */
.testimonials {
  padding: 40px 20px;
  background-color: var(--color-principal);
}

.testimonials h2 {
  font-size: 1.8rem;
  color: var(--color-pricipal-fuentes);
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial-item {
  background-color: var(--color-secundario);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  flex: 1 0 calc(33.33% - 20px); /* Por defecto, 3 por línea */
  max-width: 300px;
}

.testimonial-item p {
  font-size: 1rem;
  color: var(--color-pricipal-parrafos);
}

.testimonial-item p:first-child {
  font-style: italic;
}

.testimonial-item p:last-child {
  font-weight: bold;
  color: var(--color-principal-fuentes);
}

/* Tablet: 2 por línea */
@media (max-width: 1024px) {
  .testimonial-item {
    flex: 1 0 calc(50% - 20px); /* 2 por línea */
  }
}

/* Móvil: 1 por línea */
@media (max-width: 768px) {
  .testimonial-item {
    flex: 1 0 100%; /* 1 por línea */
    max-width: 100%;
  }
}

/* Footer */
footer {
  padding: 20px;
  background-color: var(--color-pricipal);
  text-align: center;
  border-top: 1px solid #333;
}

footer p {
  font-size: 0.9rem;
  color: var(--color-pricipal-fuentes);
}
